/* Bullet Points */
.bullet-point {
    display: flex;
    align-items: center;
    background-color: rgba(0, 122, 204, 0.2);
    border-radius: 5px;
    padding: 6px 10px;
    margin: 4px 0;
    color: #ffffff;
    width: 100%;
    max-width: calc(100% - 20px);
    overflow-wrap: break-word;
    word-break: break-word;
}

.bullet-point:hover {
    background: rgba(0, 122, 204, 0.4);
}
